<script context="module">

</script>

<script>
	import { BigNumber } from "bignumber.js";
	import { Button, Checkbox, Textfield, Datefield, Menu, Menuitem, Icon } from 'svelte-mui/src';
	import { marketDeployment } from '../_marketDeployment';
	import { DEPLOYER_ADDR, assetPairs as assets } from '../_constants.js'
	import { userAddr, kusdAddr, kusdUserBalance, enableMarketCreation } from '../_stores.js';
	
	// stop datepicker buttons from triggering form submission
	const fixDatepicker = () => {
		if (window) {
			document.querySelectorAll('div.datepicker button').forEach(b => b.type="button");
		}
	};

    let selectedAsset = assets[0];

	const kusdMul = new BigNumber(10).pow(new BigNumber(18));
	const harbingerMul = new BigNumber(10).pow(new BigNumber(6));
	const skewMul = new BigNumber(10).pow(new BigNumber(20));

	const handleCreate = async (e) => {
		console.log("fd: ", Object.fromEntries(new FormData(e.target)));
		let {
			asset,
			bidding_end,
			trading_end,
			target_price,
			cancel_fee_multiplier,
			exercise_fee_multiplier,
			skew_limit,
			min_capital,
			long_bid,
			short_bid
		} = Object.fromEntries(new FormData(e.target));

		let params = {};

		if (assets.indexOf(asset) === -1) {
			console.error("unknown asset: ", asset);
			alert(`asset value is invalid\nexpected one of ${assets.toString()}\nreceived ${asset}`);
			return;
		} else {
			params.asset = asset;
		}

		if (Date.parse(bidding_end).valueOf() <= Date.now()) {
			// bidding end is in the past
			console.error(`bidding end is in the past, bidding end: ${bidding_end} , value: ${Date.parse(bidding_end).valueOf()}`);
			alert(`bidding end must be in the future\nbidding end: ${bidding_end}\ncurrent time (UTC): ${new Date().toISOString().slice(0,-8)}`);
			return;
		}
		if (Date.parse(trading_end).valueOf() <= Date.now()) {
			// trading end is in the past
			console.error(`trading end is in the past, trading end: ${trading_end} , value: ${Date.parse(trading_end).valueOf()}`);
			alert(`trading end must be in the future\ntrading end: ${trading_end}\ncurrent time (UTC): ${new Date().toISOString().slice(0,-8)}`);
			return;
		}
		if (Date.parse(bidding_end).valueOf() >= Date.parse(trading_end).valueOf()) {
			// bidding end is later than trading end
			console.error(`trading end must be later than bidding end, bidding end: ${bidding_end}, trading end:  ${trading_end} , bidding end value: ${Date.parse(bidding_end).valueOf()} , trading end value: ${Date.parse(trading_end).valueOf()}`);
			alert(`trading end must be later than bidding end\nbidding end: ${bidding_end}\ntrading end: ${trading_end}`);
			return;
		}

		// in harbinger precision -- 10**6
		if (target_price.match(/^\d+(?:\.\d{0,6})?$/) === null) {
			console.error("target_price regex failed: ", target_price);
			alert(`target price value is invalid\nexpected a number with 6 or less decimal places\nreceived ${target_price || "an empty string"}`);
			return;
        } else {
			params.target_price = new BigNumber(target_price).multipliedBy(harbingerMul);
        }

		// in kusd precision -- 10**18
		if (cancel_fee_multiplier.match(/^\d+(?:\.\d{0,18})?$/) === null) {
			console.error("cancel_fee_multiplier regex failed: ", cancel_fee_multiplier);
			alert(`cancel fee multiplier value is invalid\nexpected a number with 18 or less decimal places\nreceived ${cancel_fee_multiplier || "an empty string"}`);
			return;
        } else {
			params.cancel_fee_multiplier = new BigNumber(cancel_fee_multiplier).multipliedBy(kusdMul);
        }

		if (exercise_fee_multiplier.match(/^\d+(?:\.\d{0,18})?$/) === null) {
            // error
			console.error("exercise_fee_multiplier regex failed: ", exercise_fee_multiplier);
			alert(`exercise fee multiplier value is invalid\nexpected a number with 18 or less decimal places\nreceived ${exercise_fee_multiplier || "an empty string"}`);
			return;
        } else {
			params.exercise_fee_multiplier = new BigNumber(exercise_fee_multiplier).multipliedBy(kusdMul);
        }

		// in 10**20 for maximum precision
		if (skew_limit.match(/^\d+(?:\.\d{0,20})?$/) === null) {
			console.error("skew_limit regex failed: ", skew_limit);
			alert(`skew limit value is invalid\nexpected a number with 20 or less decimal places\nreceived ${skew_limit || "an empty string"}`);
			return;
        } else {
			params.skew_limit = new BigNumber(skew_limit).multipliedBy(skewMul);
        }

		// // in kusd precision -- 10**18
		if (long_bid.match(/^\d+(?:\.\d{0,18})?$/) === null) {
			console.error("long_bid regex failed: ", long_bid);
			alert(`long bid value is invalid\nexpected a number with 18 or less decimal places\nreceived ${long_bid || "an empty string"}`);
			return;
        } else {
			params.long_bid = new BigNumber(long_bid).multipliedBy(kusdMul);
        }

		if (short_bid.match(/^\d+(?:\.\d{0,18})?$/) === null) {
			console.error("short_bid regex failed: ", short_bid);
			alert(`short bid value is invalid\nexpected a number with 18 or less decimal places\nreceived ${short_bid || "an empty string"}`);
			return;
        } else {
			params.short_bid = new BigNumber(short_bid).multipliedBy(kusdMul);
        }

		if (min_capital.match(/^\d+(?:\.\d{0,18})?$/) === null) {
			console.error("min_capital regex failed: ", min_capital);
			alert(`min capital value is invalid\nexpected a number with 18 or less decimal places\nreceived ${min_capital || "an empty string"}`);
			return;
        } else {
			params.min_capital = new BigNumber(min_capital).multipliedBy(kusdMul);
        }

		params.total = params.long_bid.plus(params.short_bid);
		if (params.min_capital.isGreaterThan(params.total)) {
			// min_capital must be lower than the sum of creator's initial bids
			console.error(`min capital must be lower than the sum of creator's initial bids, min capital: ${params.min_capital} , total bids: ${params.total}`);
			alert(`min capital must be lower than the sum of creator's initial bids\nmin capital: ${min_capital}\ntotal bids: ${params.total.dividedBy(kusdMul)}`);
			return;
		}

		// multiply by skewMul to get something of an order comparable to params.skew_limit
		const skew_long = params.long_bid.multipliedBy(skewMul).dividedBy(params.total);
		if (skew_long.isGreaterThan(params.skew_limit)) {
			// skew limit exceeded by creator's initial long bid
			console.error(`skew limit exceeded by creator's initial long bid, skew limit: ${params.skew_limit} , long skew: ${skew_long} , long bid: ${params.long_bid} , total bids: ${params.total}`);
			alert(`skew limit exceeded by creator's initial long bid\nskew limit: ${skew_limit}\nlong skew: ${skew_long.dividedBy(skewMul)}\nlong bid: ${long_bid}\ntotal bids: ${params.total.dividedBy(kusdMul)}`);
			return;
		}
		const skew_short = params.short_bid.multipliedBy(skewMul).dividedBy(params.total);
		if (skew_short.isGreaterThan(params.skew_limit)) {
			// skew limit exceeded by creator's initial short bid
			console.error(`skew limit exceeded by creator's initial short bid, skew limit: ${params.skew_limit} , short skew: ${skew_short} , short bid: ${params.short_bid} , total bids: ${params.total}`);
			alert(`skew limit exceeded by creator's initial short bid\nskew limit: ${skew_limit}\nshort skew: ${skew_short.dividedBy(skewMul)}\nshort bid: ${short_bid}\ntotal bids: ${params.total.dividedBy(kusdMul)}`);
			return;
		}

		if ($kusdUserBalance !== "loading" && $kusdUserBalance.isLessThan(params.total)) {
			// error or warning
			// creator should have enough kusd to cover their initial bidsparams.total.dividedBy(kusdMul)
			console.error(`creator should have enough kusd to cover their initial bids, kusd: ${$kusdUserBalance} , total bids: ${params.total}`);
			const proceed = confirm(`creator should have enough kusd to cover their initial bids\nkusd: ${$kusdUserBalance.dividedBy(kusdMul)}\ntotal bids: ${params.total.dividedBy(kusdMul)}\nproceed?`);
			if (!proceed) {
				return;
			}
		}

		
		// TODO possibly some validation here
		// seconds since epoch, not millis
		params.bidding_end = (Math.ceil(Date.parse(bidding_end).valueOf() / 1000));
		params.trading_end = (Math.ceil(Date.parse(trading_end).valueOf() / 1000));

		console.log("long_bid: ", long_bid);
		console.log("short_bid: ", short_bid);
		console.log("cancel_fee_multiplier: ", cancel_fee_multiplier);
		console.log("exercise_fee_multiplier: ", exercise_fee_multiplier);
		console.log("min_capital: ", min_capital);
		console.log("skew_limit: ", skew_limit);
		console.log("asset: ", asset);
		console.log("target_price: ", target_price);
		console.log("bidding_end: ", bidding_end);
		console.log("trading_end: ", trading_end);		

		const client = new window.beacon.DAppClient({ name: 'SEXP Binary Options' });
		client.setColorMode('dark');
		return client.requestOperation({
			operationDetails: [{
				kind: "transaction",
				amount: '0',
				destination: $kusdAddr,
				parameters: {
					entrypoint: "approve",
					value: {
						prim: "Pair",
						args: [
							{
								string: DEPLOYER_ADDR
							},
							{
								int: "0",
							}
						]
					}
				}
			},
			{
				kind: "transaction",
				amount: '0',
				destination: $kusdAddr,
				parameters: {
					entrypoint: "approve",
					value: {
						prim: "Pair",
						args: [
							{
								string: DEPLOYER_ADDR
							},
							{
								int: params.total.toString(),
							}
						]
					}
				}
			},
				marketDeployment(
					params.long_bid.toString(),
					params.short_bid.toString(),
					params.cancel_fee_multiplier.toString(),
					params.exercise_fee_multiplier.toString(),
					params.min_capital.toString(),
					params.skew_limit.toString(),
					params.asset,
					params.target_price.toString(),
					params.bidding_end.toString(),
					params.trading_end.toString()
				)
			]
		})
		.then(operationResponse => {
			console.log('marketDeployment operation was successfully broadcast to the network with the hash: ', operationResponse);
			alert(`The market creation operation was succesfully broadcast to the network.\nThe new market should appear in the markets table on the front page as soon as the next block (around 30 seconds), at the same time your kUSD balance is updated.`);
			return operationResponse.transactionHash;
		});

		// TODO get originated market address from mempool

	};

</script>

<style>
	:root {
		/* --label: white;
		--color: lightgray;
		--bg-color: #333;
		--primary: lightgray;
		--accent: #D97706; */
		--color: #fff;
		--alternate: #000;
		--bg-color: #303134;
		--primary:#d17308;
		--accent: #9808b4;
		--divider: rgba(255,255,255,0.175);
		--bg-popover: #3f3f3f;
		--border: #555;
		--label: rgba(255, 255, 255, 0.8);
		--bg-input-filled: rgba(255,255,255,0.1);
		--bg-app-bar: #838383;
		--bg-panel: #434343;
		--focus-color: var(--primary);
	}
	form {
		background-color: #333;
	}
	form :global(i > svg) {
		width: 27px;
		height: auto;
	}

	form :global(button) {
		width: -webkit-fill-available;
		width: -moz-available;
	}
	
	/* always keep the Textfield label at the top left of the input */
	form :global(div.text-field.baseline > input.input ~ div.label) {
		letter-spacing: 0.4px;
		top: 6px;
		bottom: unset;
		font-size: 13px;
	}
	form :global(div.text-field.outlined > input.input ~ div.label) {
		top: -6px;
		bottom: unset;
		font-size: 12px;
		letter-spacing: 0.4px;
		padding: 0 4px;
		left: 13px;
	}

	@media (min-width: 994px) {
		form :global(div.text-field.baseline>input.input) {
			/* width: 500px; */
		}
		/* form {
			width: -moz-fit-content;
			width: fit-content;
			margin: auto;
		} */		
	}

	#content {
		width: 90%;
		margin: auto;
	}

	@media(min-width: 994px) {
		#content {
			width: 800px;
			margin: auto;
		}
	}
</style>

<svelte:head>
	<title>SEXP: Farm (testnet)</title>
</svelte:head>
<div id="content">
	<h1>Create New Market (testnet)</h1>
	<p>To learn more about how this product works, see <a href="about">About</a></p>
	<div>
		<form on:submit|preventDefault={handleCreate}>		
			<div style="margin-bottom: 20px">
				<label for="asset" style="margin-right: 10px;">
					asset
				</label>
				<input name="asset" style="display:none" value="{selectedAsset}" />
				<Menu origin="top left">
					<div slot="activator">
						
						
						<Button id="asset" type="button" color="primary" outlined ripple={false} style={`padding-left: 22px`}>
							<span>{selectedAsset}</span>
							<Icon
								size="21"
								style="margin: 0; line-height: 1.5;"
								viewBox="0 0 24 20"
								path="M7 10l5 5 5-5z"
							/>						
							<!-- <Icon path={arrowDropDown} /> -->
						</Button>
						
					</div>

					{#each assets as asset}
						<Menuitem style={`width: 104px;`} on:click={() => selectedAsset = asset}>
							{asset}
						</Menuitem>
					{/each}
				</Menu>
			</div>
			<!-- stop datepicker buttons from triggering form submission -->
			<Datefield on:focus={fixDatepicker} on:click={fixDatepicker} readonly name="bidding_end" label="bidding end" value={new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString().slice(0,10)}></Datefield>
			<Datefield on:focus={fixDatepicker} on:click={fixDatepicker} readonly name="trading_end" label="trading end" value={new Date(Date.now() + 6 * 24 * 60 * 60 * 1000).toISOString().slice(0,10)}></Datefield>
			<Textfield name="target_price" label="target price" outlined type="text" inputmode="decimal"> </Textfield>
			<Textfield name="cancel_fee_multiplier" label="cancel fee multiplier" type="text" inputmode="decimal" value="0.006"></Textfield>
			<Textfield name="exercise_fee_multiplier" label="exercise fee multiplier" type="text" inputmode="decimal" value="0.003"></Textfield>
			<Textfield name="skew_limit" label="skew limit" type="text" inputmode="decimal" value="0.8" ></Textfield>
			<Textfield name="min_capital" label="min capital" outlined type="text" inputmode="decimal"> </Textfield>
			<Textfield name="long_bid" label="long bid" outlined type="text" inputmode="decimal"> </Textfield>
			<Textfield name="short_bid" label="short bid" outlined type="text" inputmode="decimal"> </Textfield>
			
			{#await enableMarketCreation}
				<Button type="submit" disabled color="gray" style="font-size: 1.2em; ">Create</Button>
			{:then}
				<Button type="submit" raised color="#D97706" style="font-size: 1.2em; ">Create</Button>
			{:catch e}
				<Button type="submit" disabled outlined color="purple" style="font-size: 1.2em; ">Error</Button>
			{/await}
		</form>
	</div>
</div>