<!-- <script context="module">
	import posts from './_posts.js';
	import { RPC_URL } from '../_constants';
	export async function preload({ query }) {
        console.log("query: ", query);
        if (query?.contract === undefined) {
            console.error("preload: empty query");
			// this.error(400, `missing a required URI parameter: contract`);

			// force sapper export to include prerendered json for markets from _posts.json
			posts.forEach(p => this.fetch(`markets/${p.address}.json`));
			return {post: {title: "no contract specified"}}; // this will be returned on first load if using sapper export (static files)
        }
        
		// this should use some cache, populated by BCD same contracts and possibly by the fetches here
		// and also return something more useful than raw storage, more like the prerendered json?
        return this.fetch(`markets/${query.contract}.json`)
        .then(res => {
            console.log("preload response: ", res);
            if (res.status === 200) {
				// we never get here for some reason?
                return res.json()
                .then(json => ({ post: { ...json, title: "preloaded contract" } }));
            } else if (res.status === 404) {
                console.log("404, res: ", res);
                console.log("404, no prerendered json for query: ", query);
                // return this.fetch(RPC_URL + "chains/main/blocks/head/context/contracts/" + query.contract + "/storage")
                // .then(res => {
                //     if (res.status === 400) {
                //         console.error("malformed contract address: ", query.contract);
                //         this.error(res.status, `malformed contract address: ${query.contract}`);
                //         return;
                //     } else if (res.status === 404) {
                //         console.error("nonexistent contract with address: ", query.contract);
                //         this.error(res.status, `nonexistent contract with address: ${query.contract}`);
                //         return;
                //     } else if (res.status !== 200) {
                //         console.error("RPC error while fetching storage for contract: ", query.contract);
                //         this.error(res.status, `RPC error while fetching storage for contract: ${query.contract}`);
                //         return;
                //     } else {
				// 		return res.json()
				// 		.then(json => ({ post: { ...json, address: query.contract, title: "RPC loaded contract" } }));
				// 		// TODO some validation here of the script hash and/or deployer address
				// 	}
                // });
				return {post: {address: query.contract, title: "not preloaded contract"}};
            } else {
                console.log("other error: ", res);
                this.error(res.status);
                return;
            }
        });
	}


</script> -->

<script>
	// get stuff from preload above
	// TODO needs some logic to ignore empty preload on first load due to how sapper export works (see entry in package.json)
	// works fine on subsequent client side preloads
	export let post;
	$: console.log("preload post: ", post);

	import BidForm from '../../components/BidForm.svelte';
	import ChartFrame from '../../components/ChartFrame.svelte';
	import { get, writable, derived } from 'svelte/store';
	import { userAddr, kusdUserBalance, kusdAddr, enableMarketCreation, marketsMap } from '../_stores.js';

	import { stores } from '@sapper/app';
	const { page } = stores();

	// unused, atm we just wait until the contract appears in BCD
	// 
	// const getContract = address => fetch(RPC_URL + "chains/main/blocks/head/context/contracts/" + address + "/storage")
	// .then(res => {
	// 	if (res.status === 400) {
	// 		console.error("malformed contract address: ", address);
	// 		// this.error(res.status, `malformed contract address: ${address}`);
	// 		return;
	// 	} else if (res.status === 404) {
	// 		console.error("nonexistent contract with address: ", address);
	// 		// this.error(res.status, `nonexistent contract with address: ${address}`);
	// 		return;
	// 	} else if (res.status !== 200) {
	// 		console.error("RPC error while fetching storage for contract: ", address);
	// 		// this.error(res.status, `RPC error while fetching storage for contract: ${address}`);
	// 		return;
	// 	} else {
	// 		return res.json()
	// 		.then(json => ({ post: { ...json, address: address, title: "RPC loaded contract" } }));
	// 		// do some validation here
	// 		// checking BCD same contracts will work for now
	// 	}
	// });

	$: console.log("post.address: ", post?.address);


	// this is pretty verbose but it seems to work
	const currentLongs = derived(
		[marketsMap, page],
		([$mm, $page], set) => {	
			console.log("$page: ", $page);
			const contract = $page?.query?.contract;
			if (contract === undefined) {
				console.error("cannot subscribe to longs: contract URI parameter missing");
			}
			const market = $mm.get(contract);
			if (market !== undefined) {
				console.log("subscribing to longs for market: ", contract);
				const unsub = market.stores.longs.subscribe(l => set(l));
				return unsub;
			} else {
				console.log("longs subscription not ready for market: ", contract);
				return;
			}
		},
		"loading"
	);
	const currentLongsFmt = derived(currentLongs, cl => {
		if (cl === "loading") {
			return cl;
		} else if (cl === 0) {
			return cl.toString();
		} else {
			return cl.div(10**18).toFixed(2);
		}
	});
	const currentShorts = derived(
		[marketsMap, page],
		([$mm, $page], set) => {
			console.log("$page2: ", $page);
			const contract = $page?.query?.contract;
			if (contract === undefined) {
				console.error("cannot subscribe to shorts: contract URI parameter missing");
			}
			const market = $mm.get(contract);
			if (market !== undefined) {
				console.log("subscribing to shorts for market: ", contract);
				const unsub = market.stores.shorts.subscribe(s => set(s));
				return unsub;
			} else {
				console.log("shorts subscription not ready for market: ", contract);
				return;
			}			
		},
		"loading"
	);
	const currentShortsFmt = derived(currentShorts, cs => {
		console.log("currentShorts: ", cs);
		if (cs === "loading") {
			return cs;
		} else if (cs === 0) {
			return cs.toString();
		} else {
			return cs.div(10**18).toFixed(2);
		}
	});
	const currentData = derived(
		[marketsMap, page],
		([$mm, $page], set) => {
			console.log("$page3: ", $page);
			const contract = $page?.query?.contract;
			if (contract === undefined) {
				console.error("cannot subscribe to data: contract URI parameter missing");
			}
			const market = $mm.get(contract);
			if (market !== undefined) {
				console.log("subscribing to data for market: ", contract);
				const unsub = market.stores.data.subscribe(d => set(d));
				return unsub;
			} else {
				console.log("data subscription not ready for market: ", contract);
				return;
			}			
		},
		"loading"
	);
	const title = derived(
		currentData,
		d => {
			if(d === "loading") {
				return d;
			} else {
				return `${d.asset} >= ${d.target_price?.div(10**6).toFixed(0) ?? d.target_price} @ ${new Date(d.trading_end).toDateString().slice(4)}`
			}
		}
	);

	const handleBid = async (bidAmount, long) => {
		// TODO validate that amount does not exceed available balance;
		console.log("bidAmount: ", bidAmount);
		// const amount = bidAmount * 10**18;
		const amount = bidAmount;
		const contractAddress = get(page)?.query?.contract;
		// TODO more validation, e.g. $marketsMap.has($page?.query?.contract)
		if (contractAddress === undefined) {
			console.error("contractAddress not specified");
			return;
		}
		console.log("bid amount: ", amount);
		console.log("bid long?: ", long);
		console.log("bid contractAddress: ", contractAddress);
		console.log("bid kusdAddr: ", $kusdAddr);
		
		// set kusd approval to 0, then to the amount required, then use it
		const client = new window.beacon.DAppClient({ name: 'SEXP Binary Options' });
		client.setColorMode('dark');
		return client.requestOperation({
			operationDetails: [{
				kind: "transaction",
				amount: '0',
				destination: $kusdAddr,
				parameters: {
					entrypoint: "approve",
					value: {
						prim: "Pair",
						args: [
							{
								string: contractAddress
							},
							{
								int: "0",
							}
						]
					}
				}
			},
			{
				kind: "transaction",
				amount: '0',
				destination: $kusdAddr,
				parameters: {
					entrypoint: "approve",
					value: {
						prim: "Pair",
						args: [
							{
								string: contractAddress
							},
							{
								int: amount.toString(),
							}
						]
					}
				}
			},
			{
				kind: "transaction",
				amount: '0',
				destination: contractAddress,
				parameters: {
					entrypoint: "bid",
					value: {
						prim: "Pair",
						args: [
							{
								prim: long ? "True" : "False"
							},
							{
								int: amount.toString()
							}
						]
					}
				}
			}]
		})
		.then(operationResponse => console.log(
			'operation was successfully broadcast to the network with the hash: ',
			operationResponse.transactionHash
		))
		.catch(e => console.error("requestOperation error: ", e));
	};

	const handleCancel = async (bidAmount, long) => {
		console.log("bidAmount: ", bidAmount);
		// const amount = bidAmount * 10**18;
		const amount = bidAmount;
		
		const contractAddress = get(page)?.query?.contract;
		// TODO more validation
		if (contractAddress === undefined) {
			console.error("contractAddress not specified");
			return;
		}

		const client = new window.beacon.DAppClient({ name: 'SEXP Binary Options' });
		client.setColorMode('dark');
		return client.requestOperation({
			operationDetails: [{
				kind: "transaction",
				amount: '0',
				destination: contractAddress,
				parameters: {
					entrypoint: "cancel",
					value: {
						prim: "Pair",
						args: [
							{
								prim: long ? "True" : "False"
							},
							{
								int: amount.toString()
							}
						]
					}
				}
			}]
		})
		.then(operationResponse => console.log(
			'operation was successfully broadcast to the network with the hash: ',
			operationResponse.transactionHash
		))
		.catch(e => console.error("requestOperation error: ", e));
	};

</script>

<style>
	/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
	.content :global(h2) {
		font-size: 1.4em;
		font-weight: 500;
	}

	.content :global(pre) {
		background-color: #f9f9f9;
		box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
		padding: 0.5em;
		border-radius: 2px;
		overflow-x: auto;
	}

	.content :global(pre) :global(code) {
		background-color: transparent;
		padding: 0;
	}

	.content :global(ul) {
		line-height: 1.5;
	}

	.content :global(li) {
		margin: 0 0 0.5em 0;
	}

	/* #grid {
		display: grid;
		gap: 40px 60px;
		grid-template:
		"title title" auto
		"chart chart" auto
		"blong bshort" auto
		"clong cshort" auto
		/auto;
	} */
	#grid {
		margin: 0 6px;
		height: 100%;
		display: grid;
		gap: 30px 60px;
		grid-template:
		"title" min-content
		"chart" 300px
		"price" min-content
		"blong" auto 
		"bshort" auto
		"clong" auto 
		"cshort" auto
		/auto;
	}
	@media(min-width: 994px) {
		#grid {
			grid-template:
			"title title title" min-content
			"chart price price" auto
			"chart blong bshort" auto
			"chart clong cshort" auto
			"chart . . " auto
			/auto calc(100px + 12%) calc(100px + 12%);
		}
	}
	
</style>

<svelte:head>
	<title>SEXP: {$title} (testnet)</title>
</svelte:head>

<div id="grid">
	<div style='grid-area: title; justify-self: center;'>
		<!-- <h1>{$page?.query?.contract}</h1> -->
		<h1 style='margin: 0; white-space: nowrap;'>{false ? "BTC-USD >= 60000 @ 31 May 2021" : $title} (testnet)</h1>
		<p>To learn more about how this product works, see <a href="about/#binary_options">About</a></p>
		<!-- <p>{$page?.query?.contract}</p> -->
		<!-- <span>{post.title}</span> -->
	</div>
	<div id="container" style='grid-area: chart'>
		<h2>Price on Coinbase</h2>
		<ChartFrame container={$currentData?.asset} />
		<!-- <ChartFrame container={"BTC-USD"} /> -->
	</div>

	{#if $currentData === "loading"}
		<div style='grid-area: price'>
			{#if $page?.query?.contract}
				<p>Loading contract data for contract: <span style="font-stretch: condensed">{$page?.query?.contract}</span></p>
			{:else}
				<p>No contract address specified</p>
			{/if}
		</div>
	{:else if $currentData.phase === 2}
		<div style='grid-area: price'>
			<p>Trading on this market is now over.</p>
			<p>It has expired on {new Date($currentData.trading_end).toDateString().slice(4)}.</p>
			<p>The resulting options have been exercised automatically and their kUSD value should already be in your wallet.</p>
		</div>
	{:else if $currentData.phase === 1}
		<div style='grid-area: price'>
			<p>The bidding phase for this market is now over.</p>
			<p>Redemption of your option tokens is automatic and they should already be in your wallet. You can send them to anyone like any other token, or you can trade them on Quipuswap.</p>
			<p>
				<a href="https://quipuswap.com/swap?from={$currentData.option_contract}_0">Trade long tokens here.</a>
			</p>
			<p>
				<a href="https://quipuswap.com/swap?from={$currentData.option_contract}_1">Trade short tokens here.</a>
			</p>
			<p>If no one has added the token to Quipuswap yet, you can do it using Invest > Add new Token.</p>
			<p>Use these values:</p>
			<p>Token Address: <code style="font-stretch: condensed">{$currentData.option_contract}</code></p>
			<p>Token ID: <code>0</code> for long tokens, <code>1</code> for short tokens</p>
		</div>
	{:else if $currentData.phase === 0}
		<div style='grid-area: price'>
			<p>Current Price: {$currentData?.ls_ratio ?? "loading"}</p>
			<p>Total Value: {$currentData?.total_long_bids?.div(10**18)?.toFixed(2) ?? "loading"} / {$currentData?.total_short_bids?.div(10**18)?.toFixed(2) ?? "loading"}</p>
		</div>
		
		<BidForm buttonText="Bid Long" handleSubmit={(a) => handleBid(a, true)} max={$kusdUserBalance} style={'grid-area: blong; align-self: center;'}>
			Available kUSD:
		</BidForm>
		<BidForm buttonText="Bid Short" handleSubmit={(a) => handleBid(a, false)} max={$kusdUserBalance} style={'grid-area: bshort; align-self: center;'}>
			Available kUSD:
		</BidForm>
		<BidForm buttonText="Cancel Long" handleSubmit={(a) => handleCancel(a, true)} max={$currentLongs} style={'grid-area: clong; align-self: center;'}>
			Long Bids in kUSD:
		</BidForm>
		<BidForm buttonText="Cancel Short" handleSubmit={(a) => handleCancel(a, false)} max={$currentShorts} style={'grid-area: cshort; align-self: center;'}>
			Short Bids in kUSD:
		</BidForm>
	{/if}
</div>


