<script>	
	let hovering = false;
</script>

<style>
	h1, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		/* font-size: 2.8em; */
		/* text-transform: uppercase; */
		/* font-weight: 700; */
		margin: 0 0 0.5em 0;
	}

	p {
		text-align: left;
		margin: 1em auto;
		padding: 0 1em;
	}

	@media(min-width: 994px) {
		#content {
			width: 800px;
			margin: auto;
		}
	}
</style>

<svelte:head>
	<title>SEXP: About (testnet)</title>
</svelte:head>

<div id="content">
	<h1>About SEXP (testnet)</h1>
	<p>SEXP is a Tezos based decentralized exchange for synthetic assets.</p>
	<p style="font-style: italic">Please note that this is currently running on the Florencenet testnet.</p>
	<h2>Overview</h2>
	<p>Our Binary Options product lets traders bet on the price development of 9 underlying cryptocurrencies. We are working on a new swap product with swaps between arbitrary pairs of assets and no slippage. Imagine if every asset on Uniswap had a pair with every other asset & no liquidity problems.</p>
	<h2>Binary Options</h2>
	<p>The system consists of individual markets that are concerned with a single outcome. Anyone can create a market and charge traders that use their market a fee. Users can compare different markets and choose a market with low fees and high enough volume.</p>
	<p>The market progresses through phases, starting with bidding phase. In the bidding phase, bids can be submitted for long and short option tokens. Bids can be canceled, and a cancel fee can be used to discourage order flashing.</p>
	<p>The next phase after bidding is trading phase. Bids on both sides are used to calculate prices for long and short option tokens, and bids can be redeemed for the option tokens. The option tokens implement the FA2 standard and can be transferred using a wallet and traded on DEXes like Quipuswap or Dexter.</p>
	<p>After trading phase the market can be resolved. The winning side is decided based on price data from the Harbinger oracle. Option tokens of the winning side can be redeemed for 1 kUSD each, while the losing side option tokens become worthless.</p>
	<h2>How to Use</h2>
	<p>First you are going to need some Florencenet kUSD. You can either mint them on <a href="https://zeronet.kolibri.finance">zeronet.kolibri.finance</a>, buy some on Quipuswap or get them from a faucet.</p>
	<p>On the index page you can see an overview of markets that can be sorted or filtered by asset. Clicking a row takes you to the detailed view of the market where you can bid or cancel bids in bidding phase. After bidding, you can redeem option tokens (to be added) or simply wait until our robot redeems on their behalf. After the market is resolved, you can similarly redeem options for kUSD (to be added) or wait for our robot to do it for you.</p>
	<h2>How to Farm</h2>
	<p>Anyone can create a market and earn fees. The market creation screen has several parameters you can configure. The following section explains what each of the parameters means.</p>
	<h3>long and short bids</h3>
	<p>These are your initial bids. They should be high enough to make the market attractive to traders, who are looking for sufficient capitalization (volume).</p>
	<h3>minimum capital and skew limit</h3>
	<p>These limits restrict how much money the creator has to keep in the contract at all times, and what the maximum skew can be of the larger bid compared to both bids. These limits ensure that the market creator can't withdraw all of their funds or change the prices of options at the last moment.<p>
	<h3>exercise fee and cancel fee</h3>
	<p>Cancel fee can be used to discourage canceling of bids. The fee is used to improve the prices of all remaining participants. Exercise fee is the source of the market creator's profit and is taken from the winning options when they are redeemed.</p>
	<h2>Assets Supported</h2>
	<p>We are using the <a href="https://github.com/tacoinfra/harbinger">Harbinger oracle</a> to get asset prices, so we support the assets supported by Harbinger. You can find the list by inspecting the <a href="https://better-call.dev/mainnet/KT1AdbYiPYb5hDuEuVrfxmFehtnBCXv4Np7r/storage">storage of the Harbinger contracts</a>.</p>
	<h2>SEXP Code</h2>
	<p>The code for SEXP Binary Options is available on Gitlab. The web app is in <a href="https://gitlab.com/smartcontractlabs/sexp-webui">gitlab.com/smartcontractlabs/sexp-webui</a> and the contracts, tests, deployment logic and watchtower are in <a href="https://gitlab.com/smartcontractlabs/sexp-binary-options">gitlab.com/smartcontractlabs/sexp-binary-options</a>.</p>
	<h2>Future Plans & Roadmap</h2>
	<p>Our roadmap is currently available at <a href="https://sexp.exchange">sexp.exchange</a></p>
	<p>In addition to Binary Options, we are also working hard to ship our next product: Synthetic Swap.<p>
	<p>The assets in Synthetic Swap are going to continuously mirror the performance of their underlying asset. Traders are going to be able to swap any synthetic asset for any other asset, without any liquidity or slippage problems. You can imagine it like all assets on Quipuswap/Uniswap having a well capitalized trading pair with each other.</p>
	<p>Synthetic Swap is going to support a wide range of synthetic assets including inverted versions. Inverted versions of synthetic assets can be used to bet on the price going down.</p>
	<p>Further in the future, we are also going to add synthetic assets that mirror traditional stocks.</p>
</div>