<!-- <script context="module">
	export function preload() {
		return this.fetch(`dapp.json`)
        .then(r => r.json())
        .then(posts => {
			return { posts };
		});
	}
</script> -->

<script>
    // export let posts;
    import SvelteTable from "svelte-table";
    import { goto, prefetch } from '@sapper/app';
    
	import { onMount } from 'svelte'
    import { BigNumber } from "bignumber.js";

    import { markets, marketRows } from './_stores.js';
    // import { onDestroy } from 'svelte'

    
    // without using auto subscription, for reference
    // let rows = [];
    // let unsub = marketRows.subscribe(
    //     mr => rows = Array.from(mr.values())
    // )
    // onDestroy(unsub);
    onMount(() => console.log(new BigNumber('1')));

    $: rows = Array.from($marketRows.values());

    $: console.log("rows changed: ", rows);
        
    const htmlDate = timestamp => {
        const string = new Date(timestamp).toISOString();
        return `${string.slice(0, -14)}<wbr>${string.slice(-14, -8)}`;
    }
    const htmlRatio = ls_ratio => {
        return ` ${ls_ratio.slice(0, 5)}<wbr>/ ${ls_ratio.slice(-4)}`;
    }
    const htmlAddr = address => `${address.slice(0,18)}<wbr>${address.slice(18)}`;
    const phases = ['bidding', 'trading', 'maturity'];
    
    let cols = [
        {
            key: "address",
            title: "Address",
            value: v => v.address,
            renderValue: v => htmlAddr(v.address),
            searchValue: v => v.address
        },
        {
            key: "asset",
            title: "Asset",
            value: v => v.asset,
            sortable: true,
            searchValue: v => v.asset
        },
        {
            key: "target_price",
            title: "Target Price",
            value: v => (typeof v.target_price === 'string') ? new BigNumber(v.target_price.slice(0, -6)).toNumber() : v?.target_price?.div(1000000)?.toNumber(),
            renderValue: v => (typeof v.target_price === 'string') ? v.target_price.slice(0, -6) : v.target_price?.div(1000000)?.toPrecision(6),
            sortable: true
        },
        {
            key: "expiration",
            title: "Expiration",
            value: v => v.trading_end,
            // renderValue: v => (v.trading_end !== undefined) ? new Date(v.trading_end).toISOString().slice(0, -8) : '',
            renderValue: v => (v.trading_end !== undefined) ? htmlDate(v.trading_end) : '',
            sortable: true
        },
        {
            key: "ls_ratio",
            title: "Long / Short",
            value: v => v.ls_ratio,
            renderValue: v => htmlRatio(v.ls_ratio),
            sortable: true
        },
        {
            key: "phase",
            title: "Phase",
            value: v => v.phase,
            renderValue: v => `<span class="${phases[v.phase]}">${phases[v.phase]}</span>`,
            filterOptions: phases,
            filterValue: v => phases[v.phase],
            sortable: true
        }
    ];

</script>

<style>
    :global(table) {
        margin: auto;
        width: unset !important;
        table-layout: fixed;
        border-collapse: collapse;
        box-shadow: #222a 4px -1px 3px -1px, #2226 1px -2px 6px 3px;
    }
    :global(table > thead > tr > th > input, table > thead > tr > th > select) {
        /* width: inherit; */
        width: 90%;
        border-radius: 4px;
        font-size: 16px;
        color: #d17308;
        background-color: #333;
        margin-top: 8px;
    }
    :global(table > thead > tr > th > select) {
        height: 36px;
    }
    :global(table > thead > tr > th > input) {
        height: 30px;
    }
    :global(table > thead > tr > th:nth-child(1) > input) {
        font-family: monospace;
    }
    :global(table > thead > tr > th > input:hover, table > thead > tr > th > select:hover) {
        border-color: #d17308;        
    }
    :global(table > thead > tr > th > input:focus, table > thead > tr > th > select:focus) {
        border-color: #d17308;
        outline: unset;
    }
    :global(table > thead > tr) {
        font-size: 16px;
        line-height: 4ch;
    }
    :global(table > thead > tr > th:first-child, th:last-child) {
        padding-left: 24px;
        padding-right: 24px;
    }

    :global(table > thead > tr:nth-child(2)) {
        border-style: none none solid none;
        border-color: #838383;
        border-width: 1px;
    }
    :global(table > thead > tr > th:hover) {
        color: #d17308;
    }    
    :global(table > tbody > tr:hover) {
        background-color: #444;
        cursor: pointer;
    }

    :global(table > tbody > tr > td:nth-child(6) > span) {
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        padding: 4px;
        line-height: 3;
        
    }
    :global(table > tbody > tr > td:nth-child(6) > span.bidding) {
        /* border-color: lightgreen; */
        color: yellow;
    }
    :global(table > tbody > tr > td:nth-child(6) > span.trading) {
        /* border-color: lightgreen; */
        color: rgb(116, 194, 116);
    }
    :global(table > tbody > tr > td:nth-child(6) > span.maturity) {
        /* border-color: lightgreen; */
        color: rgba(163, 0, 163);
    }


    :global(table > tbody > tr > td) {
        text-align: center;
        padding: 0 8px;
    }
    :global(table > tbody > tr > td:nth-child(3)) {
        text-align: right;
        padding-right: 16px;
    }
    :global(table > thead > tr > th:nth-child(1), th:nth-child(3)) {
        /* padding-right: 24px; */
    }
    :global(table > thead > tr:first-child > th:not(:nth-child(2), :nth-child(6))) {
        font-family: monospace;	
    }
    :global(table > thead > tr:first-child > th:nth-child(1)) {
        width: 340px;
    }
    :global(table > thead > tr:first-child > th:nth-child(2)) {
        width: 90px;
    }
    :global(table > thead > tr:first-child > th:nth-child(3)) {
        width: 13ch;
    }
    :global(table > thead > tr:first-child > th:nth-child(4)) {
        width: 18ch;
    }
    :global(table > thead > tr:first-child > th:nth-child(5)) {
        width: 15ch;
    }
    :global(table > thead > tr:first-child > th:nth-child(6)) {
        width: 90px;
    }
    :global(table > tbody > tr > td:not(:nth-child(2), :nth-child(6))) {
        font-family: monospace;	
    }
    

    @media (max-width: 993px) {
        :global(table > thead > tr:first-child > th:nth-child(1)) {
            width: 66px;
            padding: 4px;
        }
        :global(table > thead > tr:first-child > th:nth-child(2)) {
            width: 6ch;
            padding: 4px;
        }
        :global(table > thead > tr:first-child > th:nth-child(3)) {
            width: 5ch;
        }
        :global(table > thead > tr:first-child > th:nth-child(4)) {
            width: 9ch;
        }
        :global(table > thead > tr:first-child > th:nth-child(5)) {
            width: 5ch;
        }
        :global(table > thead > tr:first-child > th:nth-child(6)) {
            width: 50px;
            padding-right: 4px !important;
            padding-left: 0px !important;
        }
        :global(table) {
            font-size: 10px;
            width: 100% !important;
            font-family: system-ui;
        }
        :global(table > thead > tr) {
            font-size: 10px;
            line-height: 1.5;
        }
        :global(table > tbody > tr > td) {
            padding-left: 4px !important;
            padding-right: 0px !important;
        }
        :global(table > tbody > tr > td:nth-child(1)) {
            /* word-break: break-all; */
            font-size: 8px;
        }
        :global(table > tbody > tr > td:nth-child(2)) {
            padding-left: 4px !important;
            padding-right: 0px !important;
        }
        :global(table > tbody > tr > td:nth-child(3)) {
            padding-right: 4px !important;
        }
        :global(table > tbody > tr > td:nth-child(4)) {
            white-space: nowrap;
        }
        :global(table > tbody > tr > td:nth-child(5)) {
            white-space: pre;
        }
        :global(table > tbody > tr > td:nth-child(6)) {
        }
        :global(table > thead > tr > th:first-child, th:last-child) {
            padding-right: 4px !important;
            padding-left: 4px !important;
        }
        :global(table > tbody > tr > td:first-child, td:last-child) {
            padding-left: 4px;
            padding-right: 4px;
        }
        :global(table > tbody > tr > td:last-child) {
            padding-right: 0px !important;
            padding-left: 4px !important;
        }
        :global(table > thead > tr > th > input) {
            font-size: 12px;
        }
        :global(table > thead > tr > th > select) {
            font-size: 10px;
        }
        :global(table > thead > tr > th > select) {
            height: 30px;
        }
        :global(table > thead > tr > th > input) {
            height: 24px;
        }
    }


</style>

<svelte:head>
	<title>SEXP: Synthetic Exchange Project (testnet)</title>
</svelte:head>

<h1>SEXP Binary Options (testnet)</h1>

<!-- TODO copy -->
<!-- <p>Lorem Ipsum</p> -->

<div on:mouseenter={() => prefetch('markets/trade')}>
    <SvelteTable sortBy="phase" columns="{cols}" rows="{rows}" on:clickRow={async (e) => {console.log("clickrow e:", e); return await goto('markets/trade?contract=' + e.detail.row.address)}}>
    </SvelteTable>
</div>
