<script>
	import { BigNumber } from "bignumber.js";
	import { userAddr, enableMarketCreation } from '../routes/_stores.js';
    import { Button, Textfield } from 'svelte-mui/src';
	export let style;
    export let buttonText;
	export let handleSubmit = undefined;
	const handleForm = (e) => {
		const amount = parseInput((new FormData(e.target)).get('amount'));
        if (amount === null) {
            // invalid value, abort
            return;
        }
		console.log("bidform amount: ", amount);
		return handleSubmit(amount);
	}
	export let max;
	let value = '0.00';
    let parseInput = s => {
        if (s.match(/^\d+(?:\.\d{0,18})?$/) === null) {
			console.error("bidform amount regex failed: ", s);
			alert(`bid value is invalid\nexpected a number with 18 or less decimal places\nreceived ${s || "an empty string"}`);
            return null;
        } else {
			return new BigNumber(s).multipliedBy(10**18).toString();

        }
    }
	$: console.log("max: ", max);
	$: maxFmt = max !== "loading" ? max.div(10**18).toString() : '';
	$: maxFmtFixed = max !== "loading" ? max.div(10**18).toFixed(2) : '';
</script>

<style>
	:root {
	/* --label: white;
	--color: lightgray;
	--bg-color: #333;
	--primary: lightgray;
	--accent: #D97706; */
	--color: #fff;
	--alternate: #000;
	--bg-color: #303134;
	--primary:#d17308;
	--accent: #9808b4;
	--divider: rgba(255,255,255,0.175);
	--bg-popover: #3f3f3f;
	--border: #555;
	--label: rgba(255, 255, 255, 0.8);
	--bg-input-filled: rgba(255,255,255,0.1);
	--bg-app-bar: #838383;
	--bg-panel: #434343;
	--focus-color: var(--primary);
	}

	form {
		background-color: #333;
		/* width: fit-content; */
	}
	form > span {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	/* border-width: 1px;
    height: 28px;
    font-size: 10px;
    padding: 0px 6px;
    margin-left: 8px;
    margin-right: 8px; */
</style>

<div {style}>
	<form on:submit|preventDefault={handleForm}>
		<span>
            <slot></slot>
            {#await $userAddr}
                wallet not connected
                <Button type="button" disabled dense outlined color="#838383" style='font-size: 12px; height: 30px; padding: 6px'>Max</Button>
            {:then}
				<span style="flex-grow: 1; text-align: right; padding: 0 8px;">
					{#if max === "loading"}
						{max}
					{:else}
						{maxFmtFixed}
					{/if}
				</span>
                <Button type="button" disabled={max === "loading"} on:click={() => value = maxFmt} dense outlined color="#D97706" style='font-size: 12px; height: 30px; padding: 6px'>Max</Button>
            {:catch e}
                loading error: {e}
            {/await}
		</span>
		<Textfield name="amount" label="Amount in kUSD:" outlined type="text" bind:value inputmode="decimal" ></Textfield>
		<!-- TODO projected price and projected total value -->
        {#await enableMarketCreation}
            <Button disabled fullWidth raised color="#838383" style="font-size: 1em;" >{buttonText}</Button>
        {:then}
            <Button fullWidth raised color="#D97706" style="font-size: 1em;" >{buttonText}</Button>
        {:catch e}
            <Button disabled fullWidth raised color="red" style="font-size: 1em;" >error</Button>
        {/await}
	</form>
</div>