<script>
	import { onDestroy, onMount } from 'svelte';

	export let container;
	let containerNode;

	let w;
	let h;
	let ref;

	$: console.log("w changed: ", w);
	$: console.log("h changed: ", h);
	$: console.log("container changed: ", container);
	$: console.log("containerNode changed: ", containerNode);

	$: {
		if (typeof document !== "undefined") {
			console.log(w, h, ref);
			console.log("rect: ", ref?.getBoundingClientRect());
			if (ref !== undefined && container !== undefined) {
				containerNode = document.getElementById(container);
				if (containerNode !== undefined) {
					console.log("setting container dimensions for chart id: ", container);
					const { left, top, width, height } = ref.getBoundingClientRect();
					containerNode.style.left = left + "px";
					containerNode.style.top = top + "px";
					containerNode.style.width = width + "px";
					containerNode.style.height = height + "px";
					containerNode.style.display = "unset";
				};
			}
		}
	}
	onMount(() => {
		console.log("onMount container: ", container);
		if (typeof document !== "undefined" && container !== undefined) {
			console.log("container: ", container);
			if (!containerNode) {
				containerNode = document.getElementById(container);
			};

			console.log("containerNode: ", containerNode);

			containerNode.style.display = "unset";
		};
	})
	onDestroy(() => {
		if (containerNode !== undefined) {
			containerNode.style.display = "none"
		};
	})
</script>

<style>
	div {
		width: 100%;
		height: 95%;
	}
</style>

<div bind:clientWidth={w} bind:clientHeight={h} bind:this={ref}>
</div>