<script>
	import { Icon, Button } from 'svelte-mui/src';
	import { stores } from '@sapper/app';
	const { page } = stores();

	import { beacon, beaconRequestPermissions, beaconDeletePermissions } from '../routes/_stores.js';
	import { userAddr, kusdUserBalance } from '../routes/_stores.js';

	let hovering = false;
	export let segment;
	$: console.log("page changed: ", JSON.stringify($page));
</script>

<style>
	nav {
		border-bottom: 1px solid rgba(255,62,0,0.1);
		font-weight: 400;
		padding: 0 1em;
		display: flex;
		flex-direction: column-reverse;
	}

	#wallet {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0.5em 1em;
	}
	#wallet > div {
		display: flex;
		border: #D97706 solid 1px;
		border-radius: 4px;
		font-size: 1em;
		width: 140px;
		padding: 4px 8px;
		margin: 0 -2px 0 0;
	}
	#wallet > div > span {
		flex-grow: 1;
		text-align: right;
	}
	

	@media (min-width: 994px) {
		nav {
			flex-direction: row;
			font-size: 1.2em;
		}
		
		ul {
			flex-grow: 1;
			/* padding-right: 20px; */
		}	
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		float: left;
		display: flex;
		align-items: center;
	}

	[aria-current] {
		position: relative;
		display: inline-block;
	}

	[aria-current]::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: #d17308;
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}

	img#logo {
		align-self: center;
		margin: 1em 1em 2em 1em;
	}

	@media(min-width: 994px) {
		img#logo {
			margin: unset;
			position: absolute;
			top: 20px;
			left: calc(50% -75px);
		}
	}
</style>
<img id="logo" style="filter: invert(47%) sepia(19%) saturate(3558%) hue-rotate(6deg) brightness(99%) contrast(95%);" src="sexp_logo.svg" alt="SEXP logo" height="60" width="150" />
<nav>
	<ul>
		<!-- <li><a aria-current="{segment === undefined ? 'page' : undefined}" href=".">home</a></li> -->
		{#if $page.path === '/markets/trade'}
			<li><a rel=prefetch href=".">
				<Icon path='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z'></Icon>
				Back to Markets
			</a></li>
			<li style="margin-left: unset; align-self: flex-end;"><a rel=prefetch aria-current='page' href="markets/trade?contract={$page.query?.contract}" style={"font-stretch: condensed; font-size: 16px; padding: 20px 8px; word-break: break-all;"}>{$page.query?.contract}</a></li>
		{:else}
			<li><a rel=prefetch aria-current="{segment === undefined ? 'page' : undefined}" href=".">Markets</a></li>
		{/if}
		
		<li style="margin-left: auto"><a rel=prefetch aria-current="{$page.path === '/markets/create' ? 'page' : undefined}" href="markets/create">Farm</a></li>
		<li><a rel=prefetch aria-current="{segment === 'about' ? 'page' : undefined}" href="about">About</a></li>

		

		<!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
		<!-- <li><a rel=prefetch aria-current="{segment === 'blog' ? 'page' : undefined}" href="blog">blog</a></li> -->
	</ul>

	<div id="wallet">
		{#await $userAddr then addr}
			<div>kUSD: <span>{$kusdUserBalance === "loading" ? "???" : $kusdUserBalance.div(10**18).toFixed(2)}</span></div>
		{/await}

		{#await $userAddr}
			{#await beacon}
				<!-- loading beacon... -->
				<Button type="button" disabled outlined color="#838383" style='font-weight: 300 !important; font-stretch: condensed; font-size: 1.2em; height: auto; width: 222px; padding: 4px 8px;'>Loading Beacon...</Button>
			{:then b}
				<Button type="button" on:click={() => beaconRequestPermissions(b)} outlined color="#D97706" style='font-stretch: condensed; font-size: 1.2em; height: auto; width: 222px; padding: 4px 8px;'>Connect Wallet</Button>
			{/await}
		{:then addr}
			{#await beacon}
				<!-- wallet connected -->
				<Button type="button" disabled outlined color="#838383" style='font-stretch: condensed; font-size: 1.2em; height: auto; width: 222px; padding: 4px 8px;'>{addr.slice(0, 6) + '...' + addr.slice(-6)}</Button>
			{:then b}
				<Button type="button" on:click={() => beaconRequestPermissions(b)} on:mouseenter={() => hovering = true} on:mouseleave={() => hovering = false} outlined color="#D97706" style='font-stretch: condensed; font-size: 1.2em; height: auto; width: 222px; padding: 4px 8px;'>
					{#if hovering}
						Change Account
					{:else}
						{addr.slice(0, 6) + '...' + addr.slice(-6)}
					{/if}				
				</Button>
			{/await}
		{/await}
	</div>
</nav>
